$slideCount: 25;

$white: rgb(250,250,250);

$turqoise: #3FB8AF;
$turqoise-light: #7FC7AF;

$beige: #DAD8A7;
$gray: rgb(200,200,200);
$darkgray: #272822;

$pink: #FF3D7F;
$pink-light: #FF9E9D;

$displayfont: bebas, sans-serif;