@mixin s($index) {
	.onslide-#{$index}{

		@if type-of($index) == number{
			.slide:nth-of-type(#{$index + 1}){
				opacity: 1;
				@content;
			}
		}
	}
}

body {
}
section {
	position: absolute;
	top: 0; right: 0; bottom: 0; left:0;
	opacity: 0;
	
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

@include s(0){
	background: yellow;
}

@include s(1){
	background: red;
}

@include s(2){
	background: lightblue;
}